EcommerceProject/EcommerceProject.AdminPortal/Service References/ServiceHostReference/DataRetrieverService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataRetrieverService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58525/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58525/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58525/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EcommerceProject.DatabaseModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataRetrieverService_ReadData_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadData" />
  </wsdl:message>
  <wsdl:message name="IDataRetrieverService_ReadData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataRetrieverService_SearchData_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchData" />
  </wsdl:message>
  <wsdl:message name="IDataRetrieverService_SearchData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataRetrieverService_CreateNewProductItem_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewProductItem" />
  </wsdl:message>
  <wsdl:message name="IDataRetrieverService_CreateNewProductItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewProductItemResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataRetrieverService">
    <wsdl:operation name="ReadData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataRetrieverService/ReadData" message="tns:IDataRetrieverService_ReadData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataRetrieverService/ReadDataResponse" message="tns:IDataRetrieverService_ReadData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataRetrieverService/SearchData" message="tns:IDataRetrieverService_SearchData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataRetrieverService/SearchDataResponse" message="tns:IDataRetrieverService_SearchData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewProductItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataRetrieverService/CreateNewProductItem" message="tns:IDataRetrieverService_CreateNewProductItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataRetrieverService/CreateNewProductItemResponse" message="tns:IDataRetrieverService_CreateNewProductItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataRetrieverService" type="tns:IDataRetrieverService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadData">
      <soap:operation soapAction="http://tempuri.org/IDataRetrieverService/ReadData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchData">
      <soap:operation soapAction="http://tempuri.org/IDataRetrieverService/SearchData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewProductItem">
      <soap:operation soapAction="http://tempuri.org/IDataRetrieverService/CreateNewProductItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataRetrieverService">
    <wsdl:port name="BasicHttpBinding_IDataRetrieverService" binding="tns:BasicHttpBinding_IDataRetrieverService">
      <soap:address location="http://localhost:58525/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>