EcommerceProject/EcommerceProject.Website/Service References/WebsiteBasketHost/BasketService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56946/BasketService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EcommerceProject.DatabaseModel" />
  <xs:complexType name="ArrayOfKeyValueOfProductDataintJ9o_SbuEh">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfProductDataintJ9o_SbuEh">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EcommerceProject.DatabaseModel" name="Key" nillable="true" type="q1:ProductData" />
            <xs:element name="Value" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfProductDataintJ9o_SbuEh" nillable="true" type="tns:ArrayOfKeyValueOfProductDataintJ9o_SbuEh" />
</xs:schema>