EcommerceProject/EcommerceProject.Website/Service References/WebsiteBasketHost/BasketService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EcommerceProject.DatabaseModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EcommerceProject.DatabaseModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductData">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderHistories" nillable="true" type="tns:ArrayOfOrderHistory" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imageurl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_id" type="xs:int" />
      <xs:element minOccurs="0" name="price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="product_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stock" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="tag1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tag2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tag3" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductData" nillable="true" type="tns:ProductData" />
  <xs:complexType name="ArrayOfOrderHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderHistory" nillable="true" type="tns:OrderHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderHistory" nillable="true" type="tns:ArrayOfOrderHistory" />
  <xs:complexType name="OrderHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerData" nillable="true" type="tns:CustomerData" />
      <xs:element minOccurs="0" name="ProductData" nillable="true" type="tns:ProductData" />
      <xs:element minOccurs="0" name="c_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="order_number" type="xs:int" />
      <xs:element minOccurs="0" name="p_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="purchase_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="quantity" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderHistory" nillable="true" type="tns:OrderHistory" />
  <xs:complexType name="CustomerData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Addresses" nillable="true" type="tns:ArrayOfAddress" />
      <xs:element minOccurs="0" name="OrderHistories" nillable="true" type="tns:ArrayOfOrderHistory" />
      <xs:element minOccurs="0" name="PaymentInfoes" nillable="true" type="tns:ArrayOfPaymentInfo" />
      <xs:element minOccurs="0" name="c_id" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="first_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerData" nillable="true" type="tns:CustomerData" />
  <xs:complexType name="ArrayOfAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddress" nillable="true" type="tns:ArrayOfAddress" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerData" nillable="true" type="tns:CustomerData" />
      <xs:element minOccurs="0" name="a_id" type="xs:int" />
      <xs:element minOccurs="0" name="address_city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address_country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address_firstline" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address_secondline" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="c_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="ArrayOfPaymentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentInfo" nillable="true" type="tns:PaymentInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaymentInfo" nillable="true" type="tns:ArrayOfPaymentInfo" />
  <xs:complexType name="PaymentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerData" nillable="true" type="tns:CustomerData" />
      <xs:element minOccurs="0" name="c_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="card_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="card_number" type="xs:long" />
      <xs:element minOccurs="0" name="expiry_month" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="expiry_year" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentInfo" nillable="true" type="tns:PaymentInfo" />
</xs:schema>